<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- Databases parameters. -->
      <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=thing_appraiser;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </appSettings>
</configuration>
