<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <appSettings>
        <!-- MessageHandler parameters. -->
        <add key="MessageHandlerType" value="ConsoleMessageHandler" />

        <!-- InputManager parameters. -->
        <add key="InputType" value="GoogleDrive" />
        <add key="DefaultInFilename" value="thing_names.txt" />
        <add key="LimitAttempts" value="10" />

        <!-- CrawlersManager parameters. -->
        <add key="CrawlersNumber" value="1" />
        <add key="Crawler1" value="TMDBCrawler" />
        <!-- TMDBCrawler section parameters. -->
        <add key="TMDBAPIKey" value="f7440a70737103fea00fb6e8352a3533" />
        <add key="SearchUrl" value="https://api.themoviedb.org/3/search/movie" />
        <add key="RequestsPerTime" value="30" />
        <add key="GoodStatusCode" value="200" />
        <add key="LimitAttempts" value="10" />
        <add key="MillisecondsTimeout" value="1000" />

        <!-- AppraisersManager parameters. -->
        <add key="AppraisersNumber" value="1" />
        <add key="Appraiser1" value="TMDBAppraiser" />
        <!-- TMDBAppraiser section parameters. NO PARAMETERS! -->

        <!-- OutputManager parameters. -->
        <add key="OutputType" value="GoogleDrive" />
        <add key="DefaultOutFilename" value="apparaised_things.csv" />
    </appSettings>
</configuration>
