<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Service settings. -->
        <add key="ThingAppraiserServiceBaseAddress" value="https://localhost:44359/" />
        <add key="ThingAppraiserServiceApiUrl" value="api/v1/requests" />
        <!-- Databases parameters. -->
        <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=thing_appraiser;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </appSettings>
</configuration>
