<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- MessageHandler parameters. -->
        <add key="MessageHandlerType" value="ConsoleMessageHandler" />
        <add key="ConsoleMessageHandlerSetUnicode" value="true" />

        <!-- InputManager parameters. -->
        <add key="DefaultInFilename" value="thing_names.txt" />
        <add key="InputtersNumber" value="1" />
        <add key="Inputter1" value="GoogleDrive" />
        <!-- Inputter 1 section parameters. -->
        <add key="FileReaderGoogleDrive" value="Simple" />

        <!-- CrawlersManager parameters. -->
        <add key="CrawlersOutputFlag" value="false" />
        <add key="CrawlersNumber" value="1" />
        <add key="Crawler1" value="CrawlerTMDB" />
        <!-- CrawlerTMDB section parameters. -->
        <add key="APIKeyTMDB" value="f7440a70737103fea00fb6e8352a3533" />
        <add key="SearchUrlTMDB" value="https://api.themoviedb.org/3/search/movie" />
        <add key="ConfigurationUrlTMDB" value="https://api.themoviedb.org/3/configuration" />
        <add key="RequestsPerTimeTMDB" value="30" />
        <add key="GoodStatusCodeTMDB" value="200" />
        <add key="LimitAttemptsTMDB" value="10" />
        <add key="MillisecondsTimeoutTMDB" value="1000" />

        <!-- AppraisersManager parameters. -->
        <add key="AppraisersOutputFlag" value="false" />
        <add key="AppraisersNumber" value="2" />
        <add key="Appraiser1" value="AppraiserTMDB" />
        <!-- AppraiserTMDB section parameters. NO PARAMETERS! -->
        <add key="Appraiser2" value="FuzzyAppraiserTMDB" />
        <!-- FuzzyAppraiserTMDB section parameters. NO PARAMETERS! -->

        <!-- OutputManager parameters. -->
        <add key="DefaultOutFilename" value="appraised_things.csv" />
        <add key="OutputtersNumber" value="1" />
        <add key="Outputter1" value="GoogleDrive" />
        
        <!-- DataBasemanager parameters. -->
        <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=thing_appraiser;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add key="RepositoriesNumber" value="1" />
        <add key="Repository1" value="MovieTMDBRepository" />
    </appSettings>
</configuration>

<!--
<ShellConfig>
    <MessageHandler MessageHandlerType="ConsoleMessageHandler" SetUnicode="true" />

    <InputManager DefaultInFilename="thing_names.txt">
        <LocalFile FileReaderLocalFile="Simple" />
        <GoogleDrive FileReaderGoogleDrive="Simple" />
    </InputManager>

    <CrawlersManager CrawlersOutputFlag="false">
        <CrawlerTMDB
            APIKeyTMDB="f7440a70737103fea00fb6e8352a3533"
            SearchUrlTMDB="https://api.themoviedb.org/3/search/movie"
            ConfigurationUrlTMDB="https://api.themoviedb.org/3/configuration"
            RequestsPerTimeTMDB="30"
            GoodStatusCodeTMDB="200"
            LimitAttemptsTMDB="10"
            MillisecondsTimeoutTMDB="1000"
        />
    </CrawlersManager>

    <AppraisersManager AppraisersOutputFlag="false">
        <AppraiserTMDB />
        <FuzzyAppraiserTMDB />
    </AppraisersManager>

    <OutputManager DefaultOutFilename="appraised_things.csv">
        <LocalFile />
        <GoogleDrive />
    </OutputManager>
    <DataBaseManager ConnectionString=@"Data Source=(localdb)\MSSQLLocalDB;
Initial Catalog=thing_appraiser;Integrated Security=True;Connect Timeout=30;Encrypt=False;
TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
        <MovieTMDBRepository />
    </DataBaseManager>
</ShellConfig>
-->
