<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- MessageHandler parameters. -->
        <add key="MessageHandlerType" value="ConsoleMessageHandler" />
        <add key="ConsoleMessageHandlerSetUnicode" value="true" />

        <!-- InputManager parameters. -->
        <add key="DefaultInStorageName" value="thing_names.csv" />
        <add key="InputtersNumber" value="1" />
        <add key="Inputter1" value="LocalFile" />
        <!-- Inputter 1 section parameters. -->
        <add key="FileReaderLocalFile" value="Simple" />

        <!-- CrawlersManager parameters. -->
        <add key="CrawlersOutputFlag" value="false" />
        <add key="CrawlersNumber" value="1" />
        <add key="Crawler1" value="CrawlerTmdb" />
        <!-- CrawlerTmdb section parameters. -->
        <add key="ApiKeyTmdb" value="f7440a70737103fea00fb6e8352a3533" />
        <add key="SearchUrlTmdb" value="https://api.themoviedb.org/3/search/movie" />
        <add key="ConfigurationUrlTmdb" value="https://api.themoviedb.org/3/configuration" />
        <add key="RequestsPerTimeTmdb" value="30" />
        <add key="GoodStatusCodeTmdb" value="200" />
        <add key="LimitAttemptsTmdb" value="10" />
        <add key="MillisecondsTimeoutTmdb" value="1000" />

        <!-- AppraisersManager parameters. -->
        <add key="AppraisersOutputFlag" value="false" />
        <add key="AppraisersNumber" value="1" />
        <add key="Appraiser1" value="AppraiserTmdb" />
        <!-- AppraiserTmdb section parameters. NO PARAMETERS! -->
        <add key="Appraiser2" value="FuzzyAppraiserTmdb" />
        <!-- FuzzyAppraiserTmdb section parameters. NO PARAMETERS! -->

        <!-- OutputManager parameters. -->
        <add key="DefaultOutStorageName" value="appraised_things.csv" />
        <add key="OutputtersNumber" value="1" />
        <add key="Outputter1" value="LocalFile" />

        <!-- DataBasemanager parameters. -->
        <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=thing_appraiser;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add key="RepositoriesNumber" value="1" />
        <add key="Repository1" value="MovieTmdbRepository" />
    </appSettings>
</configuration>
