<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- MessageHandler parameters. -->
        <add key="MessageHandlerType" value="ConsoleMessageHandler" />
        <add key="ConsoleMessageHandlerSetUnicode" value="true" />

        <!-- InputManager parameters. -->
        <add key="DefaultInFilename" value="thing_names.txt" />
        <add key="InputtersNumber" value="1" />
        <add key="Inputter1" value="LocalFile" />
        <!-- Inputter 1 section parameters. -->
        <add key="FileReaderLocalFile" value="Simple" />

        <!-- CrawlersManager parameters. -->
        <add key="CrawlersOutputFlag" value="false" />
        <add key="CrawlersNumber" value="1" />
        <add key="Crawler1" value="CrawlerTMDB" />
        <!-- CrawlerTMDB section parameters. -->
        <add key="APIKeyTMDB" value="f7440a70737103fea00fb6e8352a3533" />
        <add key="SearchUrlTMDB" value="https://api.themoviedb.org/3/search/movie" />
        <add key="ConfigurationUrlTMDB" value="https://api.themoviedb.org/3/configuration" />
        <add key="RequestsPerTimeTMDB" value="30" />
        <add key="GoodStatusCodeTMDB" value="200" />
        <add key="LimitAttemptsTMDB" value="10" />
        <add key="MillisecondsTimeoutTMDB" value="1000" />

        <!-- AppraisersManager parameters. -->
        <add key="AppraisersOutputFlag" value="false" />
        <add key="AppraisersNumber" value="1" />
        <add key="Appraiser1" value="FuzzyAppraiserTMDB" />
        <!-- FuzzyAppraiserTMDB section parameters. NO PARAMETERS! -->
        <add key="Appraiser2" value="AppraiserTMDB" />
        <!-- AppraiserTMDB section parameters. NO PARAMETERS! -->

        <!-- OutputManager parameters. -->
        <add key="DefaultOutFilename" value="appraised_things.csv" />
        <add key="OutputtersNumber" value="1" />
        <add key="Outputter1" value="GoogleDrive" />
    </appSettings>
</configuration>
